@using ControleVisita.Models
@using ControleVisita.Models.IdentityExtensions
@{
    ViewBag.Title = "Clientes";
}



<div class="h3">Lista de Clientes</div>


@(Html.DevExtreme().DataGrid<ControleVisita.Models.PessoaModel>()
  .DataSource(ds => ds.WebApi()
      .Controller("clientes").Key("IdPessoa")
      .LoadAction("Get")
      .UpdateAction("Put").Key("IdPessoa")
      .DeleteAction("Delete").Key("IdPessoa")
      .LoadParams(new{empresa= User.Identity.GetEmpresa(),usuario= ""})
  )
  .RemoteOperations(true)
  .Columns(columns =>
  {

      columns.AddFor(m => m.IdPessoa).Visible(false);

      columns.AddFor(m => m.NomeCompleto);

      columns.AddFor(m => m.TipoPessoa).Visible(false);

      columns.AddFor(m => m.Documento).Visible(false);

      columns.AddFor(m => m.DDDFone);

      columns.AddFor(m => m.Telefone);

      columns.AddFor(m => m.DddCelular);

      columns.AddFor(m => m.Celular);


      columns.AddFor(m => m.DataNascimento)
      .DataType(GridColumnDataType.Date);

      columns.AddFor(m => m.Email);
      columns.AddFor(m => m.Informacao);
  })
  .Editing(e => e
      .AllowUpdating(true)
      .AllowDeleting(true)
      .Mode(GridEditMode.Popup)
      .UseIcons(true)

  )
   .Paging(p => p.PageSize(10))
      .FilterRow(f => f.Visible(true))
      .HeaderFilter(f => f.Visible(true))
      .GroupPanel(p => p.Visible(true))
      .ShowBorders(true)

)
