@using (Html.BeginForm())
{

    <div class="card">
        <div class="card-header">Filtros</div>

        <div class="card-body">
            <div class="form-row">

                <div class="form-group col-md-4">

                    Data Visita Inicial:
                    @Html.DevExtreme().DateBox().ID("datainicial").Name("datainicial").Type(DateBoxType.Date).DisplayFormat("dd/MM/yyyy")


                </div>

                <div class="form-group col-md-4">

                    Data Visita Final:
                    @Html.DevExtreme().DateBox().ID("datafinal").Name("datafinal").Type(DateBoxType.Date).DisplayFormat("dd/MM/yyyy")

                </div>
            </div>
            <div class="form-row">
                <div class="form-inline col-md-12">
                    <button class="btn btn-primary">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>
}
